// color palette - these colors will be the color swatches of the Colors section

$color-1: #ef353e; // red Normal Button
$color-2: #007b61; // 
$color-3: #f16f6f; // light greenwdatermellon green
$color-4: #019678; // light green
$color-5: white; // white
$color-6: #7de4d1; // light red
$color-7: #005c48;

// additional colors

$success: #7de4d1; // green
$alert: $color-2; // red
